<div class="container  w-100 mt-4">
    <h2>Products</h2>
    <div class="d-flex flex-column align-items-center w-100">
    <table class="table table-striped mt-4 w-50">
        <thead>
            <th> Product </th>
            <th> Price </th>
            <th class="text-center"> Action </th>
        </thead>
        <tbody>
            <tr class="w-100" *ngFor="let p of productService.products$ | async">
                <td> {{ p.name }} </td>
                <td> {{ p.currency }} {{ p.unitPrice | number: '1.2-2'}} </td>
                <td class="text-center" *ngIf="isInCart(p)"> 
                    <button type="button" class="btn btn-outline-danger btn-sm w-120px" (click)="onRemove(p)">
                        Remove
                    </button>
                </td>
                <td class="text-center" *ngIf="!isInCart(p)"> 
                    <button type="button" class="btn btn-outline-success btn-sm w-120px" (click)="onAdd(p)">
                        Add to basket
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4" >        
        <button class="btn btn-success" (click)="onCheckout()">
            Go to basket &nbsp;
            <span class="badge white-badge">{{ itemsInCart() }}</span>
        </button>        
    </div>

    </div>
</div>
