<div class="w-100 mt-4">
    <table class="table table-striped">
        <thead>
            <th> Product </th>
            <th> Price </th>
            <th> </th>
        </thead>
        <tbody>
            <tr class="w-100" *ngFor="let p of products">
                <td> {{ p.name }} </td>
                <td> {{ p.currency }} {{ p.unitPrice }} </td>
                <td *ngIf="isInCart(p)"> 
                    <button type="button" class="btn btn-outline-danger btn-sm w-100px" (click)="onRemove(p)">
                        Remove
                    </button>
                </td>
                <td *ngIf="!isInCart(p)"> 
                    <button type="button" class="btn btn-outline-success btn-sm w-100px" (click)="onAdd(p)">
                        Add to cart
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4" >
        <div class="w-75">
        <button class="btn btn-success" (click)="onCheckout()">
            Shopping Cart &nbsp;
            <span class="badge white-badge">{{ itemsInCart() }}</span> &nbsp;&nbsp;
            <span class="badge red-badge"> {{ orderService.getSelectedCurrency() }} {{ cartTotalPrice() }}</span>
        </button>
        </div>

        <div class="w-25">
            <app-currencies
            (currencyChanged) = "productsByCurrency($event)"> </app-currencies>
        </div>
    </div>
</div>
